$background: #161616;
$foreground: #222;
$primary: #6100B2;
$grad: linear-gradient(120deg, #6100b260, #582bc360, #4d42d360, #4055e260, #2e67ef60, #087af760, #008cfc60, #009cff60, #00aefc60);
@mixin skewed-border {
  content: '';
  transform-origin: bottom left;
  transform: skewY(2deg);
  width: 100%;
  height: 10%;
  position: relative;
  background-color: #fff;
  bottom: 0;
}

@mixin underline($thickness) {
  background-image: $grad;
  background-repeat: no-repeat;
  background-size: 100% $thickness;
  background-position: 0 100%;
  display: inline;
  word-break: break-word;
}

@keyframes bounce-in-top-chevron {
  0% {
    transform: translate(-50%, -150px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translate(-50%, -65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translate(-50%, -28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translate(-50%, -8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes hand-wave {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}
