* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

.content {
  background-color: #fff;
  color: #222;
}