* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: lighten($primary, 55%);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

.content {
  background-color: #fff;
  color: #222;
}

section {
  font-size: 1.25em;
  line-height: 1.4;

  h1 {
    font-family: 'Roboto', sans-serif;
    padding: 2rem 0 2rem 0;
    text-transform: uppercase;
  }
}