* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: lighten($primary, 55%);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1.75rem 2rem;

  & > *:nth-child(2) {
    margin-top: 2rem;
  }
}

.content {
  background-color: #fff;
  color: #222;
}

section {
  font-size: 1.25em;
  line-height: 1.4;
  padding-bottom: 1.75rem;

  h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
  }
}
