.about-container {}

.about {
  font-family: 'Raleway', sans-serif;
  width: 100%;

  .about-content, .about-image {
    width: 100%;
  }

  .about-image {
    margin: 1rem auto;
    max-width: 500px;
  }

  p {
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
  }
  .about-content {
    width: 50%;
  }
  .about-image {
    width: 50%;
  }
}