.about-container {}

.about {
  width: 100%;

  .about-content, .about-image {
    width: 100%;
  }

  .about-image {
    display: block;
    margin: 0 auto;
    max-width: 500px;
    min-width: 0;
  }

  p {
    text-align: justify;
  }
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.contact-icon {
  height: 3em;
  fill: #000000;
}

@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
  }
  .about-content {
    width: 50%;
  }
  .about-image {
    width: 50%;
  }
}