.skills {
  column-gap: 1rem;
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 2rem;
}

.svg-wrapper {
  display: flex;
  margin: auto;
  width: 20%;

  svg {
    box-sizing: border-box;
    fill: #000;
    flex: 1 0;
    height: 100%;
    margin: auto;
  }
}

.skill-container {
  column-gap: 1em;
  display: flex;
  font-size: .9em;

  p {
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .svg-wrapper svg {
    max-width: 50px;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    row-gap: .5em;
  }
  .skill-container {
    margin: 0;
    min-height: 80px;
  }
  .svg-wrapper {
    height: 70%;
  }
}
