.skills {
  column-gap: 1rem;
  display: grid;
  row-gap: .5em;
}

.skill-container {
  column-gap: 1rem;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: .9em;
  height: auto;

  svg {
    fill: #000;
    height: 50%;
    margin: auto;
    width: 20%;
  }

  p {
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .skill-container {
    margin: 0;
  }
  .skill-container svg {
    height: 70%;
  }
}
