:root {
  --swiper-navigation-color: #000;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  padding: 1em 5em;
  width: 100%;

  div {
    margin: auto;
  }

  p {
    font-size: .8em;
  }

  .img-container {
    margin: auto;
    max-width: 328px;
    object-fit: contain;
    padding-bottom: 1.5em;
    width: 100%;
  }

  .author {
    color: #777;
    padding-top: 1em;
    text-align: right;
  }
}

span.underline {
  @include underline(.3rem);
}

.carousel {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .carousel-item {
    flex-direction: row;

    .img-container {
      flex-shrink: 0;
      margin-left: auto;
      order: 2;
      padding: 0 0 0 2em;
      width: 40%;
    }

    p {
      font-size: 1em;
    }
  }
}
